@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lato',sans-serif;
}

.home{
    background:url('./assets/background.jpg') center center no-repeat;
}
.but{
    background-image: linear-gradient(to right top, #ff5a2c, #e54d42, #c5474e, #a24453, #7e4251);
}
.hide-scrollbar::-webkit-scrollbar{
    display: none;
}


.login-card{
    width:20%;
    height: 45%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    justify-content:center;
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-items:center;
}
@media  (max-width:520px) {
    .login-card{
        width:60%;
   

    }
    
}
@media  (min-width:521px) {
    .login-card{
        width:40%;
        height: 55%;
   

    }
    
}

@media  (min-width:961px) {
    .login-card{
        width:30%;
   

    }
    
}